/* Import fonts */
/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* Bodoni Moda Font */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400..900&display=swap');
/* Unna Font */
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Custom properties */
:root {
  --light-color-darkbg: #fff8f0;
  --dark-color-lightbg: #6a1103;
  --primary-background-color: #eeeee6;
  --placeholder-background-color: #FFE9A0;
  --green-accent-color: #0e4322;
  --red-accent-color: #6a1103;
  --yellow-accent-color: #f6e6cf;
  --yellow-accent-color2: #DBC065;
  --brown-accent-color: #442D22;
  --gradient-color: linear-gradient(115deg, #3a5240, #fad648, #a767e5, #12bcfe, #44ce7b);
  --font-family-footer-header: normal 900 normal 1rem "Bodoni Moda", serif;
  --font-family-header: normal 700 normal 1rem "Unna", serif;
  --font-family-para: normal 300 normal 1rem 'Poppins', sans-serif;
  --font-size-xsm: 1.4rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --menu-button-size: 2.5rem;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font: var(--font-family-para);
  font-size: var(--font-size-sm);
  background-color: var(--light-color-darkbg);
  color: var(--dark-color-lightbg);
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

/* Header Styles */
.header {
  width: 100%;
}

.logo>img {
  width: 17rem;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  padding-block: 3rem;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.list-item {
  font-size: var(--font-size-xsm);
}

.list-link::after {
  content: "";
  position: absolute;
  background-color: var(--dark-color-lightbg);
  height: 1px;
  width: 0;
  right: 0;
  bottom: -0.3rem;
  transition: 0.4s;
}

.list-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.btn {
  cursor: pointer;
  font-size: 2.5rem;
}

.screen-lg-hidden {
  display: none;
}

.cart-icon:hover,
.account-icon:hover {
  font-size: 2.6rem;
}

.top-banner {
  height: 40rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-banner>img {
  overflow: hidden;
  height: 40rem;
  width: 100%;
}

.website-ad {
  width: 100%;
  height: 10rem;
  background-color: var(--yellow-accent-color);
}

.website-ad>p {
  overflow: hidden;
  padding-block: 2.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.product-section {
  padding: 2rem 5rem;
  padding-bottom: 7rem;
}

.product-section-header {
  display: block;
  font: var(--font-family-header);
  font-size: var(--font-size-xl);
  margin-block: 1.5rem;
  text-align: center;
  text-wrap: nowrap;
}

.product {
  display: inline-block;
  color: var(--dark-color-lightbg);
  width: 35rem;
  height: 45rem;
  margin-inline: 2rem;
}

.one {
  margin-left: 33rem;
}

.product>* {
  margin-block: 0.5rem;
}

.product .img {
  background: url(./images/chilli-powder-1.png) no-repeat 0.01rem;
  aspect-ratio: 1;
  width: 35rem;
  overflow: hidden;
  background-size: 150%;
  transition: background-size 1s ease-out;
  position: relative;
}

.product .img:hover {
  background: url(./images/chilli-powder-1.png) no-repeat 0.01rem;
  background-size: 160%;
}

.product .img>img {
  transition: opacity 0.2s ease-in;
}

.product .img>img:hover {
  opacity: 0;
}

.product .img::after {
  content: "AVAILABLE";
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--dark-color-lightbg);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding-top: 1.2rem;
  padding-inline: 13.5rem;
  translate: 0 4.2rem;
  transition: translate 0.2s ease-in-out;
}

.product:hover .img::after,
.product .img:hover::after {
  translate: 0 0;
}

.product .product-name,
.product .product-price {
  font: var(--font-family-header);
  font-size: 2rem;
}

.product .product-weight {
  font-size: var(--font-size-xsm);
}

.product-section-contact {
  display: block;
  font-size: var(--font-size-lg);
  font-weight: 500;
  margin-top: 3rem;
  text-align: center;
  text-wrap: nowrap;
}

.ad-banner {
  height: 50rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ad-banner>img {
  overflow: hidden;
  height: 50rem;
  width: 100%;
}

.brand-certfi-banner {
  height: 20rem;
  background-color: var(--yellow-accent-color);
  padding-block: 3.5rem;
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  justify-content: center;
  gap: 15%;
}

.certfi {
  width: 15rem;
  height: 13rem;
  overflow: hidden;
}

.certfi>img {
  width: 7rem;
  margin-left: 4rem;
}

.certfi>h3 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.form-section {
  --width: 40dvw;
  background-color: #ffffff;
  background-image: url(./images/Chilli-Flowers-Bg.png);
  background-repeat: repeat;
  background-position: center;
  background-size: 95rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.form-section>p {
  color: var(--green-accent-color);
  font: var(--font-family-header);
  font-size: var(--font-size-xl);
  width: 40dvw;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  /* margin-block: 2rem; */
  width: var(--width);
  min-width: 40rem;
  padding: 3rem 1rem;
}

.contact-form>h3 {
  font: var(--font-family-header);
  font-size: var(--font-size-lg);
  color: var(--green-accent-color);
}

.form {
  width: 100%;
  padding: 0 2rem;
  position: relative;
}

.form input,
.form textarea {
  display: block;
  margin-block: 1rem;
  border: 2px solid var(--green-accent-color);
  border-radius: 4px;
  outline: none;
  padding: 0.5rem 1rem;
  height: 4rem;
  width: 100%;
  font: var(--font-family-para);
  font-size: var(--font-size-sm);
}

.form textarea {
  height: 10rem;
  resize: none;
}

.form textarea::-webkit-scrollbar {
  width: 0px;
}

.submit-button {
  font-size: 1.7rem;
  background-color: var(--green-accent-color);
  color: var(--light-color-darkbg);
  padding-block: 1rem;
  width: 100%;
  border-radius: 4px;
  position: relative;
}

.submit-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #ffffff;
  border-radius: inherit;
  opacity: 0.1;
  transition: width 0.2s ease-out;
}

.submit-button:hover::after {
  width: 100%;
}

.footer-section {
  background-color: var(--green-accent-color);
  color: var(--light-color-darkbg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.footer-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 4rem 4rem 4rem;
  flex-wrap: wrap;
}

.footer-row-1>div,
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 1.5rem;
  font-size: var(--font-size-sm);
  align-items: start;
  padding-top: 1rem;
}

.footer-row-1>div {
  min-width: 300px;
  padding-top: 2rem;
}

.footer-section-header {
  font: var(--font-family-footer-header);
  font-size: 1.8rem;
  position: relative;
}

.footer-section-header::after {
  content: "";
  position: absolute;
  background-color: var(--light-color-darkbg);
  height: 1px;
  width: 90%;
  left: 5%;
  right: auto;
  bottom: -0.3rem;
}

.footer-list-link:hover {
  opacity: 0.7;
}

.seperator-line {
  height: 0.5px;
  width: 94%;
  background-color: var(--light-color-darkbg);
  opacity: 0.3;
  margin-block: 2rem;
  translate: 3%;
}

.footer-logo {
  padding-block: 5rem;
}

.footer-logo>img {
  width: 35rem;
  position: relative;
  left: calc(50% - 17.5rem);
}

.footer-row-2 {
  justify-content: center;
  font-size: var(--font-size-xsm);
}

.footer-row-2>p {
  margin-inline: 1rem;
  text-wrap: nowrap;
}

/* Animate elements on scroll, on page load */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
  transition: all 1s ease;
  transition-delay: calc(150ms * var(--order));
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .product-section {
    padding-inline: calc(50% - 18rem);
  }

  .brand-certfi-banner {
    height: 35rem;
    grid-template-columns: repeat(2, 15rem);
  }

  .one {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .screen-lg-hidden {
    display: block;
  }

  .close-menu-icon {
    display: none;
  }

  .navbar {
    padding-block: 2rem;
  }

  .menu {
    position: absolute;
    width: 90dvw;
    height: calc(100dvh - 9rem);
    top: 9rem;
    right: 0;
    padding-top: 8rem;
    background-color: var(--primary-background-color);
    color: var(--dark-color-lightbg);
    transform: scale(0);
    translate: 90dvw;
    transition: translate 0.8s ease, transform 0.1ms linear 0.8s;
    z-index: 1000;
  }

  .menu>.list {
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }

  .list-item {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  .list-item:hover {
    background-color: #e7e7e7;
  }

  .list-link::after {
    content: none;
  }

  .menu.activated {
    transform: scale(1);
    translate: 0;
    transition: translate 0.8s ease;
  }

  .menu-toggle-icon.activated .open-menu-icon {
    display: none;
  }

  .menu-toggle-icon.activated .close-menu-icon {
    display: block;
  }

  .website-ad {
    height: auto;
  }

  .website-ad>p {
    font-size: 2rem;
  }

  .ad-banner,
  .ad-banner>img,
  .top-banner,
  .top-banner>img {
    height: auto;
  }

  .one {
    margin-left: 2rem;
  }

  .form-section {
    --width: 40rem;
    flex-direction: column;
  }

  .form-section>p {
    width: 100%;
    padding-inline: 6rem;
  }

  .footer-row-1 {
    justify-content: start;
  }
}